<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.DemoConnectionString" connectionString="Data Source=DESKTOP-U0ORHBD\SQLEXPRESS;Initial Catalog=Demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAO.Properties.Settings.QUANLYNHAHANGConnectionString"
            connectionString="Data Source=DESKTOP-U0ORHBD\SQLEXPRESS;Initial Catalog=QUANLYNHAHANG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAO.Properties.Settings.QUANLYNHAHANGConnectionString1"
            connectionString="Data Source=LAPTOP-PHVNS5LA;Initial Catalog=QUANLYNHAHANG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>